@charset "UTF-8";
@font-face {
    font-family: Fira Sans;
    font-weight: 400;
    src: url(FiraSans-Regular.otf);
}

@font-face {
    font-family: Fira Sans;
    font-style: italic;
    font-weight: 400;
    src: url(FiraSans-Italic.otf);
}

@font-face {
    font-family: Fira Sans;
    font-weight: 300;
    src: url(FiraSans-Light.otf);
}

@font-face {
    font-family: Fira Sans;
    font-style: italic;
    font-weight: 300;
    src: url(FiraSans-LightItalic.otf);
}

@font-face {
    font-family: Fira Sans;
    font-weight: bold;
    src: url(FiraSans-Bold.otf);
}

@font-face {
    font-family: Lato;
    font-weight: 400;
    src: url(Lato-Regular.ttf);
}

@font-face {
    font-family: Lato;
    font-style: italic;
    font-weight: 400;
    src: url(Lato-Italic.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: 300;
    src: url(Lato-Light.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: 100;
    src: url(Lato-Hairline.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: bold;
    src: url(Lato-Bold.ttf);
}

@page :blank {
    @top-left {
        background: none;
        content: '';
    }
    @top-center {
        content: none;
    }
    @top-right {
        content: none;
    }
}

@page no-chapter {
    @top-left {
        background: none;
        content: none;
    }
    @top-center {
        content: none;
    }
    @top-right {
        content: none;
    }
}

@page chapter {
    background: #45aaf2;
    margin: 0;
    @top-left {
        content: none;
    }
    @top-center {
        content: none;
    }
    @top-right {
        content: none;
    }
}

.center {
    text-align: center;
}

.w100 {
    width: 100%;
}

.w75 {
    width: 75%;
}

.w50 {
    width: 50%;
}

.w25 {
    width: 25%;
}

html {
    color: #393939;
    font-family: Fira Sans;
    font-size: 11pt;
    font-weight: 300;
    line-height: 1.5;
}

.doc-color {
    color: #45aaf2;
}

h2,
h3,
h4 {
    color: black;
    font-weight: 400;
}

h2 {
    break-before: always;
    font-size: 28pt;
    string-set: heading content();
}

h3 {
    font-weight: 300;
    font-size: 15pt;
}

h4 {
    font-size: 13pt;
}

article#cover {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: 297mm;
}

article#cover h1 {
    color: #393939;
    font-family: Lato;
    font-size: 44pt;
    line-height: 46pt;
    font-weight: 400;
    text-transform: uppercase;
    margin: 12cm 3cm 0 3cm;
    /* page: no-chapter; */
    width: 100%;
}

article#cover h2 {
    color: #8b8b8b;
    font-family: Lato;
    font-size: 30pt;
    font-weight: 400;
    margin: 0.8cm 3cm 0 3cm;
    /* page: no-chapter; */
    width: 100%;
}

article#cover address {
    color: white;
    flex: 1 50%;
    margin: 0 -2cm;
    padding: 1.5cm 3cm;
    white-space: pre-wrap;
}

article#cover address:first-of-type {
    padding-left: 6cm;
}

article#contents {
    break-before: right;
    break-after: left;
    page: no-chapter;
}

article#contents h2 {
    font-size: 20pt;
    font-weight: 400;
    margin-bottom: 3cm;
}

article#contents h3 {
    font-weight: 500;
    margin: 3em 0 1em;
}

article#contents h3::before {
    background: #45aaf2;
    content: '';
    display: block;
    height: .08cm;
    margin-bottom: .25cm;
    width: 2cm;
}

article#contents ul {
    list-style: none;
    padding-left: 0;
}

article#contents ul li {
    border-top: .25pt solid #c1c1c1;
    margin: .25cm 0;
    padding-top: .25cm;
}

article#contents ul li::before {
    color: #45aaf2;
    content: '• ';
    font-size: 40pt;
    line-height: 16pt;
    vertical-align: bottom;
}

article#contents ul li a {
    color: inherit;
    text-decoration: inherit;
}

article#contents ul li a::before {
    content: target-text(attr(href));
}

article#contents ul li a::after {
    color: #45aaf2;
    content: target-counter(attr(href), page);
    float: right;
}

article.text section {
    padding-top: 1cm;
}

article.text section p {
    text-align: justify;
}

article.columns section {
    columns: 2;
    column-gap: 1cm;
    padding-top: 1cm;
}

article.columns section p {
    text-align: justify;
}

article.columns section p:first-of-type {
    font-weight: 500;
}

article.items h3 {
    background: #45aaf2;
    color: white;
    margin: 0 -3cm 1cm;
    padding: 1cm 1cm 1cm 3cm;
    width: 21cm;
}

article.items section {
    padding: .5cm 0;
}

article.items section#table-content::before {
    background: url(table-content.svg) no-repeat center #45aaf2;
    background-size: 50%;
    content: '';
    display: inline-block;
    float: left;
    height: 2cm;
    margin-right: .5cm;
    vertical-align: middle;
    width: 2cm;
}

article.items section#heading::before {
    background: url(heading.svg) no-repeat center #45aaf2;
    background-size: 50%;
    content: '';
    display: inline-block;
    float: left;
    height: 2cm;
    margin-right: .5cm;
    vertical-align: middle;
    width: 2cm;
}

article.items section#multi-columns::before {
    background: url(multi-columns.svg) no-repeat center #45aaf2;
    background-size: 50%;
    content: '';
    display: inline-block;
    float: left;
    height: 2cm;
    margin-right: .5cm;
    vertical-align: middle;
    width: 2cm;
}

article.items section#internal-links::before {
    background: url(internal-links.svg) no-repeat center #45aaf2;
    background-size: 50%;
    content: '';
    display: inline-block;
    float: left;
    height: 2cm;
    margin-right: .5cm;
    vertical-align: middle;
    width: 2cm;
}

article.items section#style::before {
    background: url(style.svg) no-repeat center #45aaf2;
    background-size: 50%;
    content: '';
    display: inline-block;
    float: left;
    height: 2cm;
    margin-right: .5cm;
    vertical-align: middle;
    width: 2cm;
}

article.items section h4 {
    margin: 0;
}

article.items section p {
    margin-top: 0;
}

article.offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article.offers h2,
article.offers h3 {
    width: 100%;
}

article.offers section {
    width: 30%;
}

article.offers section h4 {
    margin-bottom: 0;
}

article.offers section ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

article.offers section ul li:not(:last-of-type) {
    margin: .5cm 0;
}

article.offers section p {
    background: #45aaf2;
    color: white;
    display: block;
    font-size: 15pt;
    font-weight: 700;
    margin-bottom: 0;
    padding: .25cm 0;
    text-align: center;
}

article.chapter {
    align-items: center;
    display: flex;
    height: 297mm;
    justify-content: center;
    page: chapter;
    color: white;
}

article.chapter h2 {
    color: white;
}

article.specs section {
    display: flex;
    flex-wrap: wrap;
    margin: 1cm 0;
}

article.specs section h4 {
    border-top: 1pt solid;
    flex: 1 25%;
    margin: 0;
}

article.specs section h4+* {
    flex: 1 75%;
    margin: 0;
    padding-left: .5cm;
}

article.specs section p {
    text-align: justify;
}

article.specs section ul {
    line-height: 2;
    list-style: none;
}

article.specs section#small-caps p {
    font-variant: small-caps;
}

article.specs section#ligatures dl {
    display: flex;
    flex-wrap: wrap;
}

article.specs section#ligatures dl dt {
    font-weight: 400;
    width: 30%;
}

article.specs section#ligatures dl dd {
    flex: 1 100%;
    margin: 0;
    padding: 0;
}

article.specs section#ligatures .none {
    font-variant-ligatures: none;
}

article.specs section#ligatures .common {
    font-variant-ligatures: common-ligatures;
}

article.specs section#ligatures .discretionary {
    font-variant-ligatures: discretionary-ligatures;
}

article.specs section#ligatures .contextual {
    font-variant-ligatures: contextual;
}

article.specs section#numbers dl {
    display: flex;
    flex-wrap: wrap;
}

article.specs section#numbers dl dt {
    font-weight: 400;
    width: 30%;
}

article.specs section#numbers dl dd {
    flex: 1 100%;
    margin: 0;
    padding: 0;
}

article.specs section#numbers #fractions {
    font-variant-numeric: diagonal-fractions;
}

article.specs section#numbers #ordinals {
    font-variant-numeric: ordinal;
}

article.specs section#numbers #slashed {
    font-variant-numeric: slashed-zero;
}

article.specs section#numbers #super {
    font-variant-position: super;
}

article.specs section#numbers #sub {
    font-variant-position: sub;
}

article.specs section#figures dl {
    columns: 4;
}

article.specs section#figures dl dt {
    font-weight: 400;
}

article.specs section#figures dl dd {
    display: flex;
    margin: 0;
    padding: 0;
}

article.specs section#figures dl dd ul {
    padding: 0 1em 0 0;
}

article.specs section#figures #oldstyle {
    font-variant-numeric: oldstyle-nums;
}

article.specs section#figures #tabular {
    font-variant-numeric: tabular-nums;
}

article.specs section#figures #old-tabular {
    font-variant-numeric: oldstyle-nums tabular-nums;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 0.5px solid rgb(88, 88, 88);
    padding: 5px;
}
