{{define "base"}}
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="report.css">
  <link rel="stylesheet" href="prism.css">
  <title>{{.Title}}</title>
  {{if .Cover}}
  <style>
    @page :first {
      background: url({{.Cover}}) no-repeat center;
      background-size: cover;
      margin: 0;
    }
  </style>
  {{end}}
</head>

<body>
  {{template "content"}}

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      messageStyle: "none",
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": {
        fonts: ["TeX"],
        scale: 85,
      }
    });
  </script>
  <script src="MathJax.js"></script>
  <script src="prism.js"></script>
</body>

</html>
{{end}}
